/* 背景 */

body{
	background: url(../img/100482138_p0.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

/* 顶部动画 */

.header{
	width: 100%;
	height: 70px;
	background-color: white;
	border-radius: 2px;
	opacity: 90%;
	position: fixed;
	z-index: 50;
	animation: load-header 1s;
}

@keyframes load-header{
	0% {
		opacity: 0;
	    transform: translate(0px, -30px);
	}
	33% {
		opacity: 0.3;
	    transform: translate(0px, -20px);
	}
	66% {
		opacity: 0.6;
	    transform: translate(0px, -10px);
	}
	100% {
		opacity: 1;
	    transform: translate(0px, 0px);
	}
}


/* 顶部 */

.navleft{
	float: left;
	line-height: 63px;
	padding-left: 40px;
	font-size: 20px;
}

.navright{
	float: right;
	line-height: 65px;
	padding-right: 40px;
	font-size: 20px;
}

.navtitle{
	padding-left: 20px;
	padding-right: 20px;
	transition: all 0.5s;
}

.navnow{
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255, 255, 0, 0.2);
}

.navtitle:hover{
	background-color: antiquewhite;
}

a{
	text-decoration: none;
}

.navselect:hover{
	color: skyblue;
	text-decoration: underline;
}

.navselect:visited{
	color: black;
}

.navselect:active{
	color: firebrick;
	font-weight: bold;
}

button{
	border-radius: 20px;
	border: 1px solid black;
	background: linear-gradient(to right,#fff6f6,#ffffff);
	width: 70px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	cursor: pointer; 
}

button:hover{
	 background-position: right center;
	 color: blue;
	 font-weight: bold;
	 background: linear-gradient(to right,#fbd4ff,#fabdff);
}

button:active{
	background-position: center right;
	color: indianred;
	font-weight: bold;
	text-decoration: underline;
	background: linear-gradient(to bottom,#dff6dc,#c7dfc4);
}

/* 页脚 */

.footer{
	width: 100%;
	height: 90px;
	background-color: dimgrey;
	text-align: center;
	color: white;
}

.friends{
	color: white;
}

.friends:hover{
	text-decoration: underline;
}